<head>
	<meta charset="UTF-8">
	<title>Buy In For Earth</title>
	<link rel="icon" href="assets/favicon.ico" />
</head>
<body >
<div class="container">
<div class="responsive-scale"></div>
<h1>Tom Riley</h1>
<p>"Only your action will alleviate this fear."</p>
<br />
<%= link_to image_tag("face.png"), "http://www.facebook.com" %>
<%= link_to pages_search_path do %>
  <%= image_tag('goo.png') %>
<% end %>
<%= link_to pages_search_path do %>
  <%= image_tag('twi.png') %>
<% end %>
<%= link_to pages_search_path do %>
  <%= image_tag('favicon.png') %>
<% end %>


</div>
<div class="login">
<%= link_to "Log In" %>
</div>
</body>